@font-face {
   font-family: "League Spartan";
   font-weight: normal;
   font-style: normal;

   src: url("../fonts/league-spartan/LeagueSpartan-Regular.woff2") format("woff2"), url("../fonts/league-spartan/LeagueSpartan-Regular.woff") format("woff");
   font-display: swap;
}

@font-face {
   font-family: "League Spartan";
   font-weight: 600;
   font-style: normal;

   src: url("../fonts/league-spartan/LeagueSpartan-SemiBold.woff2") format("woff2"), url("../fonts/league-spartan/LeagueSpartan-SemiBold.woff") format("woff");
   font-display: swap;
}

@font-face {
   font-family: "Segoe UI";
   font-weight: bold;
   font-style: normal;

   src: url("../fonts/segoe-ui/SegoeUI-Bold.woff2") format("woff2"), url("../fonts/segoe-ui/SegoeUI-Bold.woff") format("woff");
   font-display: swap;
}

@font-face {
   font-family: "Segoe UI";
   font-weight: normal;
   font-style: normal;

   src: url("../fonts/segoe-ui/SegoeUI.woff2") format("woff2"), url("../fonts/segoe-ui/SegoeUI.woff") format("woff");
   font-display: swap;
}

* {
   -webkit-box-sizing: border-box;
           box-sizing: border-box;
}

body {
   font-family: "Segoe UI", sans-serif;
   font-size: 20px;
   font-weight: 400;
   font-style: normal;
   line-height: 27px;

   color: #545454;
}

ul {
   margin: 0;
   padding: 0;

   list-style: none;
}

a {
   text-decoration: none;
}

.container {
   max-width: 1620px;
   margin: 0 auto;
   padding-right: 14px;
   padding-left: 14px;
}

.section__title {
   font-family: "League Spartan", sans-serif;
   font-size: 70px;
   font-weight: 600;
   font-style: normal;
   line-height: 68px;

   margin-top: 0;
   margin-bottom: 0;

   color: #86b472;
}

.section__title-more {
   font-weight: 400;

   display: block;
}

.section__description {
   margin-bottom: 30px;
}

.btn {
   font-size: 24px;
   font-weight: 600;
   font-style: normal;
   line-height: 32px;

   padding: 16px 48px;

   cursor: pointer;
   -webkit-transition: opacity .3s ease;
        -o-transition: opacity .3s ease;
           transition: opacity .3s ease;

   color: #fff;
   border: none;
   border-radius: 10px;
   background: -o-linear-gradient(269.39deg, #98d67d .45%, #569f36 99.39%);
   background:    linear-gradient(180.61deg, #98d67d .45%, #569f36 99.39%);
   -webkit-box-shadow: 0 1px 20px rgba(134, 180, 114, .69);
           box-shadow: 0 1px 20px rgba(134, 180, 114, .69);
}

.btn:hover {
   opacity: .8;
}

.header {
   position: relative;
   z-index: 100;

   overflow: hidden;

   padding-top: 14px;
   padding-bottom: 15px;

   background-color: #fff;
   background-image: url("../images/header-bg.png");
   background-repeat: no-repeat;
   background-position: center;
   background-size: 100%;
   -webkit-box-shadow: 0 4px 37px rgba(0, 0, 0, .2);
           box-shadow: 0 4px 37px rgba(0, 0, 0, .2);
}

.container--header {
   max-width: 1648px;
   padding-right: 0;
   padding-left: 14px;
}

.header__wrapper {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;

   -webkit-box-pack: justify;
   -ms-flex-pack: justify;
   justify-content: space-between;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
}

.header__nav-list {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;

   margin-top: 2px;

   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   gap: 78px;
}

.logo {
   overflow: hidden;

   width: 138px;
   height: 108px;
}

.logo__img {
   width: 100%;
   height: 100%;
}

.header__nav-link {
   font-size: 28px;
   font-weight: 600;

   display: block;

   padding-right: 10px;
   padding-left: 10px;

   -webkit-transition: .3s color ease;
        -o-transition: .3s color ease;
           transition: .3s color ease;

   color: #000;
}

.header__nav-link:hover {
   color: #86b472;
}

.header__nav-link--active {
   font-size: 32px;

   position: relative;

   margin-top: -14px;

   letter-spacing: 1px;

   color: #86b472;
}

.header__nav-link--active::before {
   position: absolute;
   bottom: -21px;
   left: 0;

   display: block;

   width: 100%;
   height: 7px;

   content: "";

   border-radius: 5px;
   background-color: #86b472;
   -webkit-box-shadow: 0 1px 20px rgba(134, 180, 114, .69);
           box-shadow: 0 1px 20px rgba(134, 180, 114, .69);
}

.hero {
   position: relative;

   padding-top: 262px;
   padding-bottom: 287px;

   background-color: #f4fbf1;
   background-image: url("../images/hero-bg.jpg");
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
}

.hero__wrapper {
   max-width: 636px;
}

.hero__comment {
   position: absolute;
   z-index: 10;

   width: 300px;
   padding-top: 20px;
   padding-right: 30px;
   padding-bottom: 42px;
   padding-left: 30px;
}

.hero__comment::before {
   position: absolute;
   z-index: -1;
   top: 0;
   left: 0;

   display: block;

   width: 100%;
   height: 100%;

   content: "";
   -webkit-transform: skew(15deg);
       -ms-transform: skew(15deg);
           transform: skew(15deg);

   border-radius: 10px;
   background-color: #fff;
   -webkit-box-shadow: 0 9px 50px rgba(0, 0, 0, .17);
           box-shadow: 0 9px 50px rgba(0, 0, 0, .17);
}

.hero__comment--one {
   right: 41%;
   bottom: 335px;
}

.hero__comment--two {
   right: 78px;
   bottom: 202px;
}

.hero__comment-header {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;

   margin-bottom: 10px;

   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   gap: 20px;
}

.hero__comment-img {
   width: 40px;
   height: 40px;

   border-radius: 50%;
}

.hero__comment-name {
   font-family: "Segoe UI";
   font-size: 18px;
   font-weight: 600;
   line-height: 24px;

   margin-top: 0;
   margin-bottom: 0;

   color: #000;
}

.hero__comment-ratings {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;

   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
}

.hero__comment-star {
   width: 12px;
   height: 12px;
   margin-right: 3px;

   background-image: url("../images/comments-avatars/star.svg");
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
}

.hero__comment-description {
   font-size: 12px;
   line-height: 16px;

   color: #000;
}

@media (max-width: 1800px) {
   .hero__comment--one {
      right: 37%;
      bottom: 50%;
   }

   .hero__comment--two {
      right: 10%;
      bottom: 20%;
   }
}

@media (max-width: 1620px) {
   .container {
      max-width: 1200px;
   }

   .container--header {
      max-width: 1200px;
      padding-right: 10px;
      padding-left: 10px;
   }

   .header__nav-link {
      font-size: 28px;
   }

   .header__nav-link--active {
      font-size: 30px;

      margin-top: 0;
   }

   .hero__comment--one {
      right: 26%;
      bottom: 64%;
   }
}

@media (max-width: 1400px) {
   .header__nav-link,
   .header__nav-link--active {
      font-size: 26px;
   }

   .header__nav-list {
      margin-top: 0;

      gap: 20px;
   }
}

@media (max-width: 1200px) {
   .container {
      max-width: 1000px;
   }

   .section__title {
      font-size: 60px;
   }

   .container--header {
      max-width: 1000px;
   }

   .header__nav-link,
   .header__nav-link--active {
      font-size: 24px;
   }

   .header__nav-link--active:before {
      bottom: -15px;

      height: 5px;
   }

   .hero {
      padding-top: 200px;
      padding-bottom: 200px;
   }

   .hero__comment--one {
      bottom: 75%;
   }
}

@media (max-width: 1024px) {
   .header__nav-list {
      gap: 40px;
   }

   .header__nav-link,
   .header__nav-link--active {
      font-size: 20px;

      padding-right: 0;
      padding-left: 0;
   }
}

@media (max-width: 992px) {
   body {
      font-size: 20px;
   }

   .container {
      max-width: 788px;
   }

   .section__description {
      margin-bottom: 42px;
   }

   .btn {
      font-size: 20px;
   }

   .container--header {
      max-width: 788px;
   }

   .logo {
      width: 100px;
      height: auto;
   }

   .header__nav-list {
      gap: 28px;
   }

   .header__nav-link,
   .header__nav-link--active {
      font-size: 20px;
   }

   .hero {
      position: relative;
      z-index: 10;

      padding-top: 100px;
      padding-bottom: 100px;
   }

   .hero::before {
      position: absolute;
      z-index: 10;
      top: 0;
      left: 0;

      display: block;

      width: 100%;
      height: 100%;

      content: "";

      background-color: rgba(255, 255, 255, .56);
   }

   .hero__comment {
      display: none;
   }

   .hero__wrapper {
      position: relative;
      z-index: 100;

      max-width: 100%;
      padding: 40px;

      text-align: center;
   }
}

@media (max-width: 768px) {
   .container {
      max-width: 100%;
   }

   .container--header {
      max-width: 100%;
   }

   .hero {
      padding-top: 50px;
      padding-bottom: 50px;
   }
}

@media (max-width: 724px) {
   .header {
      position: relative;
   }

   .header__nav {
      position: fixed;
      z-index: 100;
      top: 0;
      right: -100%;

      width: 280px;

      -webkit-transition: right .3s ease;
           -o-transition: right .3s ease;
              transition: right .3s ease;

      -webkit-box-shadow: 0 4px 37px rgba(0, 0, 0, .2);
              box-shadow: 0 4px 37px rgba(0, 0, 0, .2);
   }

   .header__nav-list {
          flex-direction: column;

      padding: 20px;

      background-color: #fff;

      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
   }

   .header__nav--active {
      top: 0;
      right: 0;

      -webkit-transition: right .3s ease;
           -o-transition: right .3s ease;
              transition: right .3s ease;
   }

   .burger {
      position: absolute;
      z-index: 110;
      top: 50%;
      right: 48px;

      display: block;

      width: 40px;
      height: 40px;

      -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
              transform: translateY(-50%);
   }

   .burger:before,
   .burger:after {
      position: absolute;

      display: block;

      width: 100%;
      height: 6px;

      content: "";
      -webkit-transition: -webkit-transform .3s ease;
           -o-transition:         transform .3s ease;
              transition: -webkit-transform .3s ease;
              transition:         transform .3s ease;
              transition:         transform .3s ease, -webkit-transform .3s ease;

      border-radius: 5px;
      background: -o-linear-gradient(269.39deg, #98d67d .45%, #569f36 99.39%);
      background:    linear-gradient(180.61deg, #98d67d .45%, #569f36 99.39%);
   }

   .burger:before {
      top: 0;
      left: 0;
   }

   .burger:after {
      bottom: 0;
      left: 0;

      content: "";
   }

   .burger__row {
      position: absolute;
      top: 50%;
      left: 0;

      width: 100%;
      height: 6px;

      -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
              transform: translateY(-50%);

      border-radius: 5px;
      background: -o-linear-gradient(269.39deg, #98d67d .45%, #569f36 99.39%);
      background:    linear-gradient(180.61deg, #98d67d .45%, #569f36 99.39%);
   }

   .burger--active {
      top: 28px;
      right: 10px;
   }

   .burger--active .burger__row {
      display: none;
   }

   .burger--active.burger:before {
      top: 50%;

      -webkit-transform: translateY(-50%) rotate(45deg);
          -ms-transform: translateY(-50%) rotate(45deg);
              transform: translateY(-50%) rotate(45deg);
   }

   .burger--active.burger:after {
      bottom: 50%;

      -webkit-transform: translateY(50%) rotate(-45deg);
          -ms-transform: translateY(50%) rotate(-45deg);
              transform: translateY(50%) rotate(-45deg);
   }
}

@media (max-width: 576px) {
   body {
      font-size: 16px;
      line-height: 24px;
   }

   .section__title {
      font-size: 40px;
      line-height: 1;
   }

   .section__description {
      margin-bottom: 42px;
   }

   .btn {
      font-size: 16px;

      padding: 12px 40px;
   }

   .header {
      padding-top: 10px;
      padding-bottom: 10px;

      background-image: none;
   }

   .logo {
      width: 80px;
   }

   .burger {
      right: 10px;
   }

   .header__nav {
      width: 100%;
   }

   .hero__wrapper {
      padding: 0;
   }

   .hero::before {
      background-color: rgba(255, 255, 255, .8);
   }
}

@media (max-width: 400px) {
   .section__title {
      font-size: 30px;
      line-height: 1;
   }
}
